export OWNER_EMAIL=helene@kubermatic.com
export KUBERMATIC_EDITION=ee
export PPROF_PORT=0
export KUBERMATIC_DEBUG=false
export  MallocNanoZone=0
export KUBERMATIC_DOMAIN=hdedidedad.org
export KUBERMATIC_WORKERNAME=helenesmacbookprolocal
# for localdev tests
export KUBERMATIC_EXTERNAL_URL=helene.lab.kubermatic.io
